{{ define "main" }}
{{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections -}}
{{- $paginator := .Paginate $pages (.Site.Params.home.posts.paginate | default .Site.Params.section.paginate | default 20) -}}
{{- if eq $paginator.PageNumber 1 -}}
  {{- partial "profile-home.html" . -}}
{{- else -}}
<div class="container doc-layout home">
  <div class="doc-content">
    <h1 class="sr-only">{{ .Site.Title }}</h1>
    <div class="post-list" aria-label="最新文章">
      {{- range $paginator.Pages -}}
        {{- partial "post-card.html" . -}}
      {{- end -}}
    </div>
    {{- partial "pagination.html" . -}}
  </div>
  {{- partial "list-toc.html" $paginator.Pages -}}
</div>
{{- end -}}
{{ end }}
